extends layout

block content
  // _method query used with methodOverride middle ware to turn this POST into a PUT
  h1 Edit
  h2 New Product
    form(id="productPOST" action="/products" method="post")
      div
        label(for="name") Name
        input(type="text" id="name" name="name")
      div
        label(for="price") Price
        input(type="number" id="price" name="price" step="0.01")
      div
        label(for="description") Description
        input(type="text" id="description" name="description")
      input(type="submit" value="Create")
      
  h2 Update Existing Product
    form(id="productPUT" action="/products?_method=put" method="post")
      div
        label(for="sku") SKU
        input(type="number" id="sku" name="sku")
      div
        label(for="name") Name
        input(type="text" id="name" name="name")
      div
        label(for="price") Price
        input(type="number" id="price" name="price" step="0.01")
      div
        label(for="description") Description
        input(type="text" id="description" name="description")
      input(type="submit" value="Update")

  h2 Delete a product #{'('}and all its stock and transactions#{')'}
    form(id="productDELETE" action="/products?_method=delete" method="post")
      div
        label(for="sku") SKU 
        input(type="number" id="sku" name="sku")
      input(type="submit" value="Delete")

  h2 New Warehouse
    form(id="warehousePOST" action="/warehouses" method="post")
      div
        label(for="name") Name
        input(type="text" id="name" name="name")
      div
        label(for="cityId") CityId
        input(type="number" id="cityId" name="cityId")
      input(type="submit" value="Create")

  h2 Update Existing Warehouse
    form(id="warehousePUT" action="/warehouses?_method=put" method="post")
      div
        label(for="id") ID
        input(type="number" id="id" name="id")
      div
        label(for="name") Name
        input(type="text" id="name" name="name")
      div
        label(for="cityId") CityId
        input(type="number" id="cityId" name="cityId")
      input(type="submit" value="Update")

  h2 Delete a Warehouse #{'('}and all its stock and transactions#{')'}
    form(id="warehouseDELETE" action="/warehouses?_method=delete" method="post")
      div
        label(for="id") ID
        input(type="number" id="id" name="id")
      input(type="submit" value="Delete")

  h2 Add a transaction #{'('}Automatically updates the stock in that warehouse.#{')'}
  p Note that a positive value for quantity represents <em>adding</em> product to a warehouse, a negative value represents <em>removing</em> it.
    form(id="transactionPOST" action="/transactions" method="post")
      div
        label(for="sku") Product SKU 
        input(type="number" name="sku" id="sku")
      div
        label(for="warehouseId") Warehouse ID
        input(type="number" name="warehouseId" id="warehouseId")
      div
        label(for="quantity") Quantity
        input(type="number" name="quantity" id="quantity")
      input(type="submit" value="Create") 
