extends layout

//- -var descriptonSpan = 4;

block content
    h1 View Products
    each product, index in products
        table
            thead
                tr
                    th SKU
                    th Name
                    th Price 
                    th(colspan=3) Description
                tr
                    th #{product.sku}
                    th #{product.name}
                    th #{product.price}
                    th(colspan=3) #{product.description}
            tbody
                if product.inventory.length > 0
                    tr
                        th City Id
                        th City Name
                        th Warehouse Id
                        th Warehouse Name
                        th Quantity
                        th Current Weather
                    each record, index in product.inventory
                        tr
                            td #{record.cityId}
                            td #{record.cityName}
                            td #{record.warehouseId}
                            td #{record.warehouseName}
                            td #{record.quantity}
                            td #{record.weather}